[Desktop Entry]
Name=Loxhaus
Comment=Loxhaus Application
Exec=/home/bosley/insula-labs/lox/build/bin/loxhaus
Icon=/home/bosley/insula-labs/lox/assets/logo.png
Terminal=false
Type=Application
Categories=Utility;
